* {
  /* outline: 1px solid orangered; */
  margin: 0;
  padding: 0;
}
:root {
  --primary-clr: rgb(238, 243, 247);
  --accent: rgb(0, 136, 255);

  --light: rgb(255, 255, 255);
  --dark: rgb(61, 67, 85);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.bold {
  font-weight: bold;
}
.flex {
  display: flex;
}
.container {
  width: 80rem;
  margin-inline: auto;
}
header {
  background-color: var(--primary-clr);
}
.navbar {
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
.nav a {
  margin-left: 16px;
  color: var(--accent);
}
.logo {
  font-size: 32px;
}
.hero {
  padding-block: 200px;
}
.cta {
  width: 50%;
}
.cta p {
  margin-block: 16px;
}
.hero-icon {
  font-size: 128px;
  margin-inline: auto;
}
